.container{
  width: 300px;
  background-color: royalblue;
 
}
.container .item{
  border: 4px dashed red;
  background-color: orange;
}
.container .item:nth-child(1){
  width: 100px;
  height: 100px;
}
.container .item:nth-child(2){
  width: 140px;
  height: 70px;
  /* 보이는건 허상이고 원래의 위치에 존재하고 있는 것을 이해해야함. */
  position: relative;
  top: 20px;
  left: 200px;
}
.container .item:nth-child(3){
  width: 70px;
  height: 120px;
}
