.container {
  border: 4px solid red;
  display: grid;
    /* track : 하나의 열 또는 행 */
    /* line = gutter 트랙과 트랙 사이의 간격 */
    /* cell : 한 칸! */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,100px);
    /* 넘치는 요소 관리하는 방법 */
    grid-auto-rows: 100px;
    gap: 10px 20px;

}
/* flex는 1차원 gird는 2차원 */

.item {
  border: 1px solid;

}

.item:nth-child(2) {
  /* span 확장을 해서 2개의 cell로 확장! column 방향으로 */
  grid-column: span 2;
  grid-row : span 2;
}