@import "./mixins";
@import "./variables";

img {
  display: block;
}
a {
  text-decoration: none; 
}
.inner {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}



body {
  height: 2000px;
  font-size: $font-default;
  main {
    color: red;
  }
}

header {
  position: fixed;
  width: 100vw;
  background-color: aquamarine;
  .inner {
    box-sizing: border-box;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    @include desktop {
      width: 1200px;
    }
    @include tablet {
      width: 750px;
    }
    @include mobile {
      width: 300px;
    }
    .logo {
      margin: auto;
      img{
        height: 30px;
        margin: 10px 20px;
      }
    }
    .space {
      border: 1px solid blue;
      flex-grow: 1;
    }
    .nav {
      display: flex;

      @include desktop {
        &-menu-icon{
          display: none;
        }
        &-items {
          display: flex;
          justify-content: center;
          .nav-item {
            border: 1px solid goldenrod;
            margin: 10px;
            flex-grow: 1;
            &:last-child {
              margin-right : 30px
            }
          }
        }
      }
      @include tablet {
        &-menu-icon{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
        }
        &-items {
          display: none;
          justify-content: center;
          flex-direction: column;
          .nav-item {
            border: 1px solid goldenrod;
            margin: 10px;
            flex-grow: 1;
            &:last-child {
              margin-right : 30px
            }
          }
        }
        &-close-icon {
          display: none;
          height: 20px;
          width: 20px;

        }
      }
      @include mobile {
        &-menu-icon{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
        }
        &-items {
          display: flex;
          justify-content: center;
          flex-direction: column;
          display: none;
          .nav-item {
            border: 1px solid goldenrod;
            margin: 10px;
            flex-grow: 1;
            &:last-child {
              margin-right : 30px
            }
          }
        }
        &-close-icon {
          display: none;
          height: 20px;
          width: 20px;

        }
      }
      



      
    }


  }
  
}


