img {
  display: block;
}

.container {
  width: min-content;
  background-color: royalblue;
  perspective: 600px;
}

.container img{
  transition-duration: 1s;

  /* Animaation */
  /* animation-name: none;
  animation-duration: 0s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction:normal;
  animation-fill-mode:none;
  animation-play-state:running; */
  /* animation : ; */

  animation-name: rolling;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  animation-fill-mode:none;
  animation-play-state:running;

}

.container:hover img{
  transform : rotateY(45deg);
  animation-play-state: paused;
}

@keyframes rolling {
  0% {
    transform : rotateY(0deg);
  }
  100% {
    transform : rotateY(360deg);
  }
}