$font-large: 3rem;
$font-medium: 1.6rem;
$font-default: 1.2rem;
$font-small: 0.8rem;

//
$text-color: #f0f4f5;
$background-color: #263343;
$accent-color: #d49466;


// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

